:root{
    --black: hsla(228, 19%, 5%, 1);
    --dark-blue: hsla(213, 24%, 16%, 1);
    --silver: hsla(210, 2%, 78%, 1);
    --cyan: hsla(176, 96%, 69%, 1);
    --dark-cyan: hsla(177, 40%, 45%, 1);

    --some-shit: #e9e9e9;
    --white: #f9f9f9;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--some-shit);
    font-family: "apercu", sans-serif;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

/* Header */
.header{
    border: 3px solid #ccc;
    background-color: var(--some-shit);
    /*box-shadow: 1px 1px 5px 0px var(--dark-blue);*/
    border-radius: 15px;
    position: sticky;
    top: 0;
    width: 100%;
}

/* Logo */
.logo{
    display: inline-block;
    color: var(--black);
    font-size: 60px;
    margin-left: 10px;

}

/* Nav menu */
.nav{
    /*border: 3px solid #ccc;*/
    width: 250px;
    height: 480px;
    border-radius: 15px;
    position: fixed;
    right: 0px;

    background-color: var(--some-shit);
    overflow: hidden;

}

.menu a{
    display: block;
    padding: 20px;
    color: var(--black);;

}

.menu a:hover{
    color: var(--dark-cyan);
    /*background-color: var(--dark-blue);*/
}

.nav{
    /*border: 3px solid #ccc;*/
    max-height: 0;
    transition: max-height .5s ease-out;
}

/* Menu Icon */

.hamb{
    cursor: pointer;
    float: right;
    padding: 35px 20px;
}


.hamb-line {
    background: var(--black);
    display: block;
    height: 2px;
    position: relative;
    width: 25px;

}

.hamb-line::before,
.hamb-line::after{
    background: var(--black);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.hamb-line::before{
    top: 5px;
}

.hamb-line::after{
    top: -5px;
}


.side-menu {
    display: none;
}

/* Toggle menu icon */

.side-menu:checked ~ nav{
    max-height: 100%;

    border: 3px solid #ccc;
}

.side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
}

.side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top:0;

}

.side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top:0;
}


/* Responsiveness */

@media (min-width: 1000px) {
    .nav{
        max-height: none;
        top: 0;
        position: relative;
        float: right;
        width: fit-content;
        background-color: transparent;
        height: 70px;
    }

    .menu li{
        float: left;
    }

    .menu a:hover{
        background-color: transparent;
        color: var(--dark-cyan);

    }

    .hamb{
        display: none;
    }

}