A:link{
    text-decoration: none;/* Убирает подчеркивание для ссылок */
}

#canvas {
    cursor: pointer;
}

#guide {
    display: grid;
    pointer-events: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#guide div {
    border: 1px solid rgba(0, 0, 0, 0.1);
}
