main{
    position: absolute;
    align-content: center;
    justify-content: center;
}

.mainNavigation{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap:20px;
}

.card{
    padding: 40px;
    height: 90px;
    font-family: "Workbench", sans-serif;
    outline-color: rgb(74, 78, 105);
    border-radius: 8px;
    font-size: large;
}
A:link{
    text-decoration: none;/* Убирает подчеркивание для ссылок */
}

header{
    display: flex;
    margin-top: -8px;
    align-content: center;
    justify-content: space-evenly;
    height: 100px;
    background:rgb(74, 78, 105);
    border:solid rgb(34, 34, 59);
}
.header_feel{
    position: absolute;
    align-content: center;
    justify-content: center;
    display: flex;
    border-right: rgb(201, 173, 167);
    border-left: rgb(201, 173, 167);
}
a{
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-top: solid;
    border-radius: 20%;
    align-content: center;
    padding: 1em;
    background-color: rgb(74, 78, 105);
    outline-color: rgb(74, 78, 105);
    font-family: "Workbench", sans-serif;
    font-size:75%;
    color: rgb(201, 173, 167);
}

