<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="../css/adapt.css">
    </head>

    <body style="background: rgb(242, 233, 228)">
        <!-- Navigation bar -->
        <header class="header">
            <!-- Logo -->
            <a href="frontShit.html" class="logo">Main</a>

            <!-- Hamburger icon -->
            <input class="side-menu" type="checkbox" id="side-menu"/>
            <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

            <!-- Menu -->
            <nav class="nav">
                <ul class="menu">
                    <li><a href="Astar.html"><h1>A*</h1></a></li>
                    <li><a href="cluster.html"><h1>Cluster</h1></a></li>
                    <li><a href="Gen.html"><h1>Gen</h1></a></li>
                    <li><a><h1>AntAlgo</h1></a></li>
                    <li><a href="tree_v2.html"><h1>Tree</h1></a></li>
                    <li><a href="Neuro.html"><h1>Neuro</h1></a></li>
                    <li><a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit"><h1>ТЗ</h1></a></li>

                </ul>
            </nav>
        </header>
    </body>
</html>
