<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
</head>
<body>
<div>
    <script>
        let x, y, s;
        x = 5;
        y = 8;

        s = x + y;

        document.write(s);
    </script>
</div>
<p><a href="task6.html">Нейроночка</a></p>
<button class="botton" style="margin: 10px 10px 10px 1000px"><a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit"><h1>ТЗ</h1></a></button>
</body>
</html>