<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="../css/style.css">
    </head>

    <body style="background: rgb(242, 233, 228)">
        <header>
            <!--<a href="frontShit.html"><h1>Main</h1></a>
            <a href="Astar.html"><h1>A*</h1></a>
            <a href="cluster.html"><h1>Cluster</h1></a>
            <a href="Gen.html"><h1>Gen</h1></a>
            <a><h1>AntAlgo</h1></a>
            <a href="tree.html"><h1>Tree</h1></a>
            <a href="Neuro.html"><h1>Neuro</h1></a>
            <a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit"><h1>ТЗ</h1></a>-->
        </header>
        <div class="mainNavigation">
            <a href="frontShit.html" class="card"><h1>Main</h1></a>
            <a href="Astar.html" class="card"><h1>A*</h1></a>
            <a href="cluster.html" class="card"><h1>Cluster</h1></a>
            <a href="Gen.html" class="card"><h1>Gen</h1></a>
            <a class="card"><h1>AntAlgo</h1></a>
            <a href="tree.html" class="card"><h1>Tree</h1></a>
            <a href="Neuro.html" class="card"><h1>Neuro</h1></a>
            <a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit" class="card"><h1>ТЗ</h1></a>
        </div>


    </body>
</html>
