<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gen</title>
    <!--<link rel="stylesheet" href="../Cluster/cluster.css">-->
    <link rel="stylesheet" href="../Cluster/cluster_2.css">
    <link rel="stylesheet" href="../css/adapt.css">
    <link rel="stylesheet" href="../css/buttonStyle.css">
</head>


<body>
<!-- Navigation bar -->
<header class="header">
    <!-- Logo -->
    <a href="index.html" class="logo">M.</a>

    <!-- Hamburger icon -->
    <input class="side-menu" type="checkbox" id="side-menu"/>
    <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

    <!-- Menu -->
    <nav class="nav">
        <ul class="menu">
            <li><a href="Astar.html"><h1>A*</h1></a></li>
            <li><a href="cluster.html"><h1>CLUSTER</h1></a></li>
            <li><a href="Gen.html"><h1>GEN</h1></a></li>
            <li><a href="ant.html"><h1>ANT_ALGO</h1></a></li>
            <li><a href="tree.html"><h1>TREE</h1></a></li>
            <li><a href="Neuro.html"><h1>NEURO</h1></a></li>
            <li><a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit"><h1>
                ТЗ</h1></a></li>

        </ul>
    </nav>
</header>

<div style="margin: 20px 5%  0 10%;">
    <div>
        <div id="guide"></div>
        <canvas width="600" height="600" id="canvas"></canvas>
    </div>
    <div>
        <label for="mapSize">Set map size:</label>
        <input type="range" id="mapSize" min="10" max="100" value="25" step="5">
        <span id="mapSizeDemo"></span>
    </div>
    <div>
        <label for="MutateProcent">MutateProcent:</label>
        <input type="range" id="MutateProcent" min="0" max="100" value="5" step="5">
        <span id="MutateProcentDemo"></span>
    </div>
    <div>
        <label for="PopulationSize">PopulationSize:</label>
        <input type="range" id="PopulationSize" min="100" max="1000" value="100" step="10">
        <span id="PopulationSizeDemo"></span>
    </div>
    <div>
        <label for="maxGeneration">Maximum Generation Size:</label>
        <input type="range" id="maxGeneration" min="100" max="1000" value="100" step="10">
        <span id="maxGenerationDemo"></span>
    </div>
    <div>
        <label for="toggleGuide">Show Guide: </label>
        <input type="checkbox" id="toggleGuide" checked>
    </div>
    <div>
        <button type="button" id="clearButton">Clear</button>
    </div>
    <div>
        <button type="button" id="makePath">Make Path</button>
    </div>
    <div>
        <button type="button" id="startAlgo">Solve Genetic</button>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script src="../Gen/math.js" defer></script>
    <script src="../Gen/pixelWriteCanvas.js" defer></script>
    <script src="../Gen/Gen.js" defer></script>
    <script src="../Gen/CanvasResize.js"></script>
</div>
</body>
</html>
