<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Main</title>
        <link rel="stylesheet" type="text/css" href="../css/index.css">
    </head>

    <body>
        <header>
            <p>M.</p>
        </header>

        <div class="mainNavigation">
            <a href="Astar.html" class="card"><h1>A*</h1></a>
            <a href="cluster.html" class="card"><h1>CLUSTER</h1></a>
            <a href="Gen.html" class="card"><h1>GEN</h1></a>
            <a class="card"><h1>ANT_ALGO</h1></a>
            <a href="tree.html" class="card"><h1>TREE</h1></a>
            <a href="Neuro.html" class="card"><h1>NEURO</h1></a>
            <a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit" class="card"><h1>ТЗ</h1></a>
        </div>


    </body>
</html>
