<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Neuro</title>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../Neuro/neuro.css">

</head>

<body>
<header>
    <a href="frontShit.html"><h1>Main</h1></a>
    <a href="cluster.html"><h1>Cluster</h1></a>
    <a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit"><h1>ТЗ</h1></a>
    <a href="Neuro.html"><h1>Нейроночка</h1></a>
</header>
<h2>Распознавание рукописных цифр.</h2>
<div id="container">
    <canvas id="canv"></canvas>
    <div id="result"></div>
</div>
<script src="../Neuro/neuro.js"></script>
<button onclick="d.clear()">Clear</button>
<button onclick="d.sharp(true)">Done</button>

</body>
</html>
