<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tree</title>
        <link rel="stylesheet" type="text/css" href="../Tree_v2/makeTree.css">

        <link rel="stylesheet" type="text/css" href="../Tree_v2/treePage.css">

    </head>

    <body>
        <header>
            <a href="frontShit.html"><h1>Main</h1></a>
            <a href="Astar.html"><h1>A*</h1></a>
            <a href="cluster.html"><h1>Cluster</h1></a>
            <a><h1>Gen</h1></a>
            <a><h1>AntAlgo</h1></a>
            <a href="Tree.html"><h1>Tree</h1></a>
            <a href="Neuro.html"><h1>Neuro</h1></a>
            <a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit"><h1>ТЗ</h1></a>
        </header>

        <input type="file" id="input" accept=".csv"/>
        <br>
        <!--Нужно прописать выбор "персонажа" и данные для составления дерева-->
        <b>Comic guy:</b>
        <div id="testingItem"></div>
        <br/>
        <b>Decision Tree prediction:</b>
        <div id="decisionTreePrediction"></div>
        <br/>
        <b>Random Forest prediction:</b>
        <div id="randomForestPrediction"></div>
        <br/>
        <b>Decision Tree:</b>
        <br/>

        <div class="tree" id="displayTree"></div>
        <script type="text/javascript" src="../Tree_v2/tree.js"></script>


    </body>
</html>