<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree</title>
    <link rel="stylesheet" type="text/css" href="../Tree_v2/makeTree.css">
    <link rel="stylesheet" type="text/css" href="../css/adapt.css">
    <link rel="stylesheet" type="text/css" href="../Tree_v2/treePageStyle.css">

</head>

<body>
    <!-- Navigation bar -->
    <header class="header">
        <!-- Logo -->
        <a href="index.html" class="logo">M.</a>

        <!-- Hamburger icon -->
        <input class="side-menu" type="checkbox" id="side-menu"/>
        <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

        <!-- Menu -->
        <nav class="nav">
            <ul class="menu">
                <li><a href="astar.html"><h1>A*</h1></a></li>
                <li><a href="cluster.html"><h1>CLUSTER</h1></a></li>
                <li><a href="gen.html"><h1>GEN</h1></a></li>
                <li><a href="ant.html"><h1>ANT_ALGO</h1></a></li>
                <li><a href="tree.html"><h1>TREE</h1></a></li>
                <li><a href="neuro.html"><h1>NEURO</h1></a></li>
                <li><a href="https://docs.google.com/document/d/1rW01MhzNS2TsKEkBY4n4S7UAtf09o155a93gYLVs1xY/edit"><h1>ТЗ</h1></a></li>
            </ul>
        </nav>
    </header>

    <div class="all">
        <div id="load_files">
            <div id = 'files'>
                <h3>Train file:</h3>
                <input type="file" id="input" accept=".csv"/>

                <h3>Test file:</h3>
                <input type="file" id="inputTest" accept=".csv" />
                <div id="testingItem"></div>
            </div>


            <div id = 'settings'>
                <h3>Tree settings: </h3>
                <form id = 'categoryAttr'>Set category for search: </form>

                <div id = "ignoredAttr">Set ignored attributes: </div>

                <div>
                    <label for="maxTree">Set max tree depth:</label>
                    <input type="range" id="maxTree" min="1" max="30" value="10" step="1">
                    <span id="maxTreeDemo"></span>
                </div>
            </div>


            <button id="gen">Do the tree</button>
        </div>

        <div id="DecisionTree">
            <b>Decision Tree:</b>

            <div class="tree" id="displayTree"></div>

            <script type="text/javascript" src="../Tree_v2/tree.js"></script>
        </div>
    </div>


</body>
</html>
