A:link {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
}

#canvas {
    cursor: pointer;

}

#guide {
    display: grid;
    pointer-events: none;
    position: absolute;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

#guide div {
    border: 1px solid rgba(0, 0, 0, 0.1);
}

header {
    display: flex;
    margin-top: -8px;
    align-content: center;
    justify-content: space-evenly;
    height: 100px;
    width: 100%;
    background: rgb(74, 78, 105);
    border: solid rgb(34, 34, 59);
}

.header_feel {
    position: absolute;
    align-content: center;
    justify-content: center;
    display: flex;
    border-right: rgb(201, 173, 167);
    border-left: rgb(201, 173, 167);
}

a {
    cursor: pointer;
    text-decoration: none;
    margin: 10px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-top: solid;
    border-radius: 20%;
    align-content: center;
    padding: 1em;
    background-color: rgb(74, 78, 105);
    outline-color: rgb(74, 78, 105);
    font-family: "Workbench", sans-serif;
    font-size: 75%;
    color: rgb(201, 173, 167);
}

main {
    position: absolute;
    align-content: center;
    justify-content: center;
}
