body{
    background-color: #F2E9E4;
}

#container {
    position:relative;
    width: 700px;
}
#buttons{
    border: dashed 3px #9999BB;
    border-left:none;
    border-right:none;
    margin-bottom: 25px;
    padding:5px 0;
    width:700px;
}
button{
    cursor: pointer;
    text-decoration: none;
    margin: 5px;
    border-right: solid;
    border-left: solid;
    border-bottom: solid;
    border-top: solid;
    border-radius: 20%;
    align-content: center;
    padding: 1em;
    background-color:  rgb(201, 173, 167);
    outline-color:  rgb(201, 173, 167);
    font-family: "Workbench", sans-serif;
    font-size:75%;
    color: rgb(74, 78, 105);
}
#canv{
    /*display: block;*/
    width: 500px;
    height:500px;
    border: 1px solid #22223B;
}
#result {
    font-size: 128pt; /* Размер шрифта в пунктах */
    float: right;
    width: 120px;
    height: 280px;
    border: 5px solid #fff;
    text-align: center;
    line-height: 280px;
}